/* Global Styles */
#root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: auto;
}

/* Global color variables */
:root {
  --primary-color: #93C6D6; /* Example color */
  --secondary-color: #FF6347; /* Example color */
  --accent-color: #FFD700; /* Example color */
  --background-color: #F0F8FF; /* Example color */
  --text-color: #2F4F4F; /* Example color */
}

body {
  width: 100%;
  height: 100%;
  background-color: lightsteelblue; /* For browsers that do not support gradients */
  background-image: linear-gradient(lightsteelblue, lavender);
}

header {
  background-color: lightsteelblue;
  color: midnightblue;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  text-align: left;
  justify-content: space-between;
}

.heading-picture-name-title {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.heading-image {
  width: 90px;
  border-radius: 50%;
}

.heading-name {
  font-size: 50px;
  margin-left: 20px;
}

.heading-title {
  font-size: 16px;
  margin-left: 23px;
  margin-top: -10px;
}

nav {
  font-size: 16px;
  transition: .3s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  justify-content: space-between;
}

.header-links {
  display: flex;
  align-items: center;
  align-items: flex-end;
  padding-bottom: 8px;
}

a.nav-link {
  margin-right: 15px;
}

a.nav-link:hover {
  color: red;
}

a.nav.active {
  color: yellow;
}


