/* Global Sytles */
#root {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Global color variables */
:root {
  --primary-color: #93C6D6; /* Example color */
  --secondary-color: #FF6347; /* Example color */
  --accent-color: #FFD700; /* Example color */
  --background-color: #F0F8FF; /* Example color */
  --text-color: #2F4F4F; /* Example color */
}

/* Styles for the Main body of my webpage */
.main {
  height: 100%;
  background-color: lightsteelblue; /* For browsers that do not support gradients */
  background-image: linear-gradient(lightsteelblue, lavender);
  overflow-y: auto;
}

body {
  background-color: lightsteelblue; /* For browsers that do not support gradients */
  background-image: linear-gradient(lightsteelblue, lavender);
}

header {
  background-color: lightsteelblue;
  color: midnightblue;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
  justify-content: space-between;
}

.heading-picture-name-title {
  display:flex;
  flex-direction: row;
}

.heading-image {
  width: 90px;
  border-radius: 50%;
}

.heading-name {
  font-size: 50px;
  margin-left: 20px;
}

.heading-title {
  font-size: 16px;
  margin-left: 22px;
  margin-top: -10px;
}

.header-links {
  font-size: 16px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-links li {
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}



